@page "/Index"

<div class="jumbotron text-center">
    <h1 class="display-4">Bienvenido a Dispet</h1>
    <p class="lead">Descubre nuestra variedad de dispensadores de comida para mascotas.</p>
    <a class="btn btn-primary btn-lg" href="/products" role="button">Ver Productos</a>

</div>
